*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#667eea,#764ba2,#ff758c);
background-size:300% 300%;
animation:gradientMove 8s infinite alternate;
}

@keyframes gradientMove{
0%{background-position:left}
100%{background-position:right}
}

.container{
width:650px;
padding:35px;
border-radius:15px;
background:rgba(255,255,255,0.15);
backdrop-filter:blur(10px);
box-shadow:0 10px 25px rgba(0,0,0,0.3);
color:white;
text-align:center;
}

h1{
margin-bottom:8px;
font-size:30px;
}

.subtitle{
margin-bottom:20px;
opacity:0.9;
}

.card{
display:flex;
flex-direction:column;
gap:12px;
}

input{
padding:10px;
border-radius:8px;
border:none;
outline:none;
font-size:15px;
}

button{
padding:10px;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
background:#ffcc70;
color:black;
font-weight:bold;
transition:0.3s;
}

button:hover{
background:#ffd98f;
transform:scale(1.05);
}

table{
margin-top:15px;
width:100%;
border-collapse:collapse;
background:white;
color:black;
border-radius:10px;
overflow:hidden;
}

th{
background:#667eea;
color:white;
padding:10px;
}

td{
padding:8px;
border-bottom:1px solid #ddd;
}

td input{
width:90%;
}

.resultPage{
background:#f4f6fb;
padding:40px;
font-family:'Segoe UI';
}

.resultPage h1{
color:#333;
margin-bottom:20px;
}

.iteration{
background:white;
padding:15px;
margin-bottom:15px;
border-left:6px solid #667eea;
border-radius:6px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.final{
margin-top:25px;
padding:20px;
background:linear-gradient(90deg,#ff758c,#ff7eb3);
color:white;
font-size:22px;
border-radius:10px;
text-align:center;
font-weight:bold;
}
